@inherits LayoutComponentBase

    <div>
        <img style="vertical-align: middle" src="Images\HealthCareLogo.jpg" alt="Three Amigos Health - Final Image" width="189" height="150" sizes="(max-width: 505px) 100vw, 505px" />
        <span style="font-size: 66px; color: blue; vertical-align: middle; text-align: center">Three Amigos Health</span>
    </div>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
