@page "/"
@inject IDialogService DialogService

<h1>Hello, world!</h1>

Welcome to your new app.
- No request view
- Request view
- Dashboard
  -- Open inventory by status
  -- Open inventory by discipline
  -- Time remaining -- less than 1 hour by type


<div>@UserName</div>
<div>@Discipline</div>

@{ GetUserDetailsAsync(); }


